%tr
  %td
    =game.name
  %td
    = link_to 'Show', game
  - if current_user
    %td
      = link_to 'Edit', edit_game_path(game)
    %td
      = link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete 